@import url(https://fonts.googleapis.com/css?family=Epilogue:regular,600,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Epilogue";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Epilogue";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.form__item {
    position: relative;
}


.pass-message {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 20px;
    border-radius: 7px;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 2;
    transform: translate(0, 8px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
}

.pass-message.show-message {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.pass-message :not(:last-child) {
    margin-bottom: 15px;
}


.pass-message div {
    font-size: 16px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.pass-message h3 {
    font-size: 18px;
}

.valid {
    color: green;
}

.valid:before {
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    content: "✖";
}

.form__error {
    padding-top: 10px;
    color: red;
    font-size: 15px;
    font-weight: 400;
    line-height: 146.5%;
    padding-left: 5px;
}

.input._form-error {
    border-color: red;
}

body {
  background-color: #fff;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 66.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container_big] {
  max-width: 88.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 16px 32px;
  -webkit-box-shadow: 4px 4px 11px -2px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 11px -2px rgba(0, 0, 0, 0.25);
  border-radius: 25.5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 96.4%;
  text-align: center;
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
min-width: 230px;
}

.button_green {
  background-color: #26A17B;
}

.button_red {
  background-color: #FE4D5D;
}

.button._fw {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid #eee;
  background: #FFFFFF;
  -webkit-box-shadow: inset 3px 2px 20px rgba(0, 0, 0, 0.11);
          box-shadow: inset 3px 2px 20px rgba(0, 0, 0, 0.11);
  border-radius: 7px;
  padding: 10px 20px;
}

.input_promocode {
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input_promocode::-webkit-input-placeholder {
  font-family: "Epilogue";
  font-weight: 700;
  font-size: 20px;
  line-height: 190%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #CDCDCD;
}

.input_promocode::-moz-placeholder {
  font-family: "Epilogue";
  font-weight: 700;
  font-size: 20px;
  line-height: 190%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #CDCDCD;
}

.input_promocode:-ms-input-placeholder {
  font-family: "Epilogue";
  font-weight: 700;
  font-size: 20px;
  line-height: 190%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #CDCDCD;
}

.input_promocode::-ms-input-placeholder {
  font-family: "Epilogue";
  font-weight: 700;
  font-size: 20px;
  line-height: 190%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #CDCDCD;
}

.input_promocode::placeholder {
  font-family: "Epilogue";
  font-weight: 700;
  font-size: 20px;
  line-height: 190%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #CDCDCD;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.options__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.options__item_payment {
  border-top: 2px solid #DDD5D5;
  padding: 30px 0;
}

.options__item_prices {
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 11px;
}

.subscription-confirmation_ballz .options__item_prices {
  background: #26A17B;
  border: 2px solid rgba(0, 0, 0, 0.25);
}

.subscription-confirmation_ballz .options__item_annually {
  border: 2px solid rgba(0, 0, 0, 0.25);
  background: #ACFBC2;
}

.options__description {
  font-family: "Epilogue";
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.98px;
  color: #000000;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.options__price {
  font-family: "Epilogue";
  font-weight: 700;
  font-size: 57px;
  line-height: 1;
  letter-spacing: -0.98px;
  color: #26A17B;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscription-confirmation_bronze .options__price {
  color: #26A17B;
}

.subscription-confirmation_silver .options__price {
  color: #C8858B;
}

.subscription-confirmation_ballz .options__price {
  color: #fff;
}

.subscription-confirmation_bronze .options__item_annually .options__price {
  color: rgba(0, 255, 176, 0.95);
}

.subscription-confirmation_silver .options__item_annually .options__price {
  color: #FE4D5D;
}

.subscription-confirmation_ballz .options__item_annually .options__price {
  color: #26A17B;
}

.options__subprice {
  font-family: "Epilogue";
  font-weight: 600;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.98px;
  color: #26A17B;
}

.subscription-confirmation_bronze .options__subprice {
  color: #26A17B;
}

.subscription-confirmation_silver .options__subprice {
  color: #C8858B;
}

.subscription-confirmation_ballz .options__subprice {
  color: #fff;
}

.subscription-confirmation_bronze .options__item_annually .options__subprice {
  color: rgba(0, 255, 176, 0.95);
}

.subscription-confirmation_silver .options__item_annually .options__subprice {
  color: #FE4D5D;
}

.subscription-confirmation_ballz .options__item_annually .options__subprice {
  color: #26A17B;
}

.options__input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}

.options__input:focus + .options__label:before {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}

.options__input:checked + .options__label:after {
  -webkit-transform: translate(0, -50%) scale(1);
      -ms-transform: translate(0, -50%) scale(1);
          transform: translate(0, -50%) scale(1);
}

.options__item_prices .options__input:checked + .options__label:after {
  -webkit-transform: translate(-50%, 0) scale(1);
      -ms-transform: translate(-50%, 0) scale(1);
          transform: translate(-50%, 0) scale(1);
}

.options__discount {
  width: 57px;
  height: 57px;
  background: rgba(0, 255, 176, 0.95);
  border-radius: 50%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: -15px;
  top: -15px;
  font-family: "Epilogue";
  font-weight: 700;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.98px;
  color: #000000;
}

.subscription-confirmation_bronze .options__discount {
  background-color: rgba(0, 255, 176, 0.95);
  color: #fff;
}

.subscription-confirmation_silver .options__discount {
  background-color: #FC4C5C;
  color: #fff;
}

.subscription-confirmation_ballz .options__discount {
  background-color: rgba(0, 255, 176, 0.95);
  color: #000;
}

.options__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
}

.options__item_prices .options__label {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 25px;
}

.options__item_prices .options__label::before {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.options__item_prices .options__label::after {
  left: 50%;
  top: 20.5px;
  -webkit-transform: translate(-50%, 0) scale(0);
      -ms-transform: translate(-50%, 0) scale(0);
          transform: translate(-50%, 0) scale(0);
}

.options__label:before {
  content: "";
  width: 27px;
  height: 27px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27px;
          flex: 0 0 27px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 2px solid #9D9D9D;
  -webkit-box-shadow: inset 1px 1px 16px 2px rgba(0, 0, 0, 0.11);
          box-shadow: inset 1px 1px 16px 2px rgba(0, 0, 0, 0.11);
}

.options__label:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #26A17B;
  position: absolute;
  right: 6px;
  top: 50%;
  -webkit-transform: translate(0, -50%) scale(0);
      -ms-transform: translate(0, -50%) scale(0);
          transform: translate(0, -50%) scale(0);
}

.options__text {
  font-family: "Epilogue";
  font-weight: 700;
  font-size: 25px;
  line-height: 85%;
  letter-spacing: 0.06em;
  color: #26A17B;
}

.options__icons {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options__icon {
  max-width: 58px;
  max-height: 36px;
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.block-modal {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.11);
  border-radius: 11px;
  max-width: 500px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  position: relative;
  z-index: 1;
}

.block-modal__form:not(:last-child) {
  margin-bottom: 20px;
}

.block-modal__title {
  font-family: "Epilogue";
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;
  text-align: center;
}

.block-modal__title_red {
  color: #FE4D5D;
}

.block-modal__title_green {
  color: #26A17B;
}

.block-modal__title:not(:last-child) {
  margin-bottom: 30px;
}

.block-modal__description {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 115.4%;
  text-align: center;
  color: #000000;
  max-width: 350px;
  margin: 0 auto;
}

.block-modal__description:not(:last-child) {
  margin-bottom: 30px;
}

.block-modal__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-modal__links {
  text-align: center;
}

.block-modal__link {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 115.4%;
  text-align: center;
  text-decoration-line: underline;
  color: #C8A1A1;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.lose-money {
  padding: 60px 0;
}

.lose-money__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Epilogue";
  font-weight: 700;
  font-size: 44px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.98px;
  color: #FE4D5D;
}

.lose-money__title span {
  padding: 25px 0;
}

.lose-money__title_black {
  font-family: "Inter";
  font-weight: 400;
  font-size: 44px;
  line-height: 176%;
  text-align: center;
  letter-spacing: -0.98px;
  color: #000000;
}

.lose-money__title_small {
  font-family: "Inter";
  font-weight: 700;
  font-size: 27px;
  line-height: 168%;
  text-align: center;
  letter-spacing: -0.98px;
  color: #000000;
}

.lose-money__title_medium {
  font-family: "Inter";
  font-weight: 700;
  font-size: 38px;
  line-height: 119%;
  text-align: center;
  letter-spacing: -0.98px;
  color: #FE4D5D;
}

.advantages-aggregator {
  padding: 60px 0;
  position: relative;
}

.advantages-aggregator::before {
  content: "";
  position: absolute;
  background: #008D62;
  mix-blend-mode: normal;
  -webkit-filter: blur(87px);
          filter: blur(87px);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.advantages-aggregator__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  position: relative;
  z-index: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 30px;
}

.advantages-aggregator__item {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  max-width: 260px;
}

.item-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.item-advantages__image {
  max-width: 135px;
  max-height: 135px;
}

.item-advantages__img {
  width: 100%;
}

.item-advantages__text {
  font-family: "Inter";
  font-weight: 700;
  font-size: 27px;
  line-height: 147%;
  text-align: center;
  letter-spacing: -0.98px;
  color: #FFFFFF;
}

.item-advantages__text::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: 5px 20px 5px 0;
}

.partners-aggregation {
  padding: 60px 0;
}

.partners-aggregation__title {
  font-family: "Epilogue";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.98px;
  color: #000000;
}

.partners-aggregation__title:not(:last-child) {
  margin-bottom: 60px;
}

.partners-aggregation__title_medium {
  font-family: "Inter";
  font-weight: 500;
  font-size: 25px;
  line-height: 170%;
  text-align: center;
  letter-spacing: -0.98px;
  text-transform: uppercase;
  color: #000000;
}

.partners-aggregation__title_big {
  font-family: "Inter";
  font-weight: 700;
  font-size: 46px;
  line-height: 129%;
  text-align: center;
  letter-spacing: -0.98px;
  text-transform: uppercase;
  color: #26A17B;
}

.partners-aggregation__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.partners-aggregation__items:not(:last-child) {
  margin-bottom: 70px;
}

.partners-aggregation__item {
  text-align: center;
}

.partners-aggregation__img {
  width: 100%;
}

.partners-aggregation__img:not(:last-child) {
  margin-bottom: 10px;
}

.partners-aggregation__earning {
  font-family: "Epilogue";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.98px;
  color: #FE4D5D;
}

.subscription-confirmation {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.subscription-confirmation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscription-confirmation__block {
  padding: 60px 50px 85px;
}

.form__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 12px;
}

.form__prices:not(:last-child) {
  margin-bottom: 50px;
}

.form__promocode:not(:last-child) {
  margin-bottom: 45px;
}

.form__billed {
  text-align: center;
  font-family: "Epilogue";
  font-weight: 600;
  font-size: 20px;
  line-height: 146.5%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #000000;
}

.form__billed:not(:last-child) {
  margin-bottom: 30px;
}

.form__payment:not(:last-child) {
  margin-bottom: 20px;
}

.form__items:not(:last-child) {
  margin-bottom: 40px;
}

.form__item:not(:last-child) {
  margin-bottom: 15px;
}

.form__label {
  cursor: pointer;
  font-family: "Epilogue";
  font-weight: 400;
  font-size: 12px;
  line-height: 146.5%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #B68282;
  padding: 5px;
}

.form__input {
  min-height: 66px;
}

.form__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__error {
  padding-top: 10px;
  color: red;
  font-size: 17px;
  font-weight: 400;
  line-height: 146.5%;
}

.promocode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
  position: relative;
}

.promocode .form__error {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(0, 90%);
      -ms-transform: translate(0, 90%);
          transform: translate(0, 90%);
}

.forgot-password {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}

.forgot-password::before {
  content: "";
  width: 30%;
  height: 74%;
  left: 0;
  top: 0;
  background: #26A17B;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  position: absolute;
  -webkit-transform: translate(-30%, -30%);
      -ms-transform: translate(-30%, -30%);
          transform: translate(-30%, -30%);
}

.forgot-password::after {
  content: "";
  width: 48%;
  height: 71%;
  right: 0;
  bottom: 0;
  background: #26A17B;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  position: absolute;
  -webkit-transform: translate(40%, 45%) rotate(100deg);
      -ms-transform: translate(40%, 45%) rotate(100deg);
          transform: translate(40%, 45%) rotate(100deg);
}

.forgot-password__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.forgot-password__block {
  padding: 60px 45px 30px;
}

.check-email {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}

.check-email::before {
  content: "";
  width: 30%;
  height: 74%;
  left: 0;
  bottom: 0;
  background: #26A17B;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  position: absolute;
  -webkit-transform: translate(-30%, 60%);
      -ms-transform: translate(-30%, 60%);
          transform: translate(-30%, 60%);
}

.check-email::after {
  content: "";
  width: 46%;
  height: 40%;
  right: 0;
  top: 0;
  background: #26A17B;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  border-radius: 0 0 30% 50%;
  position: absolute;
  -webkit-transform: translate(0%, -35%) rotate(-140deg);
      -ms-transform: translate(0%, -35%) rotate(-140deg);
          transform: translate(0%, -35%) rotate(-140deg);
}

.check-email__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 100px;
}

.check-email__wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 740px;
          flex: 0 1 740px;
}

.check-email__image-ibg {
  padding-bottom: 100%;
}

.check-email__block {
  padding: 75px 45px 70px;
}

.restore-password {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}

.restore-password::before {
  content: "";
  width: 30%;
  height: 74%;
  left: 0;
  top: 0;
  background: #26A17B;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  position: absolute;
  -webkit-transform: translate(-30%, -30%);
      -ms-transform: translate(-30%, -30%);
          transform: translate(-30%, -30%);
}

.restore-password::after {
  content: "";
  width: 48%;
  height: 71%;
  right: 0;
  bottom: 0;
  background: #26A17B;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  position: absolute;
  -webkit-transform: translate(40%, 45%) rotate(100deg);
      -ms-transform: translate(40%, 45%) rotate(100deg);
          transform: translate(40%, 45%) rotate(100deg);
}

.restore-password__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restore-password__block {
  padding: 60px 45px;
}

.thanks {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}

.thanks::before {
  content: "";
  width: 30%;
  height: 74%;
  left: 0;
  bottom: 0;
  background: #26A17B;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  position: absolute;
  -webkit-transform: translate(-30%, 60%);
      -ms-transform: translate(-30%, 60%);
          transform: translate(-30%, 60%);
}

.thanks::after {
  content: "";
  width: 46%;
  height: 40%;
  right: 0;
  top: 0;
  background: #26A17B;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  border-radius: 0 0 30% 50%;
  position: absolute;
  -webkit-transform: translate(0%, -35%) rotate(-140deg);
      -ms-transform: translate(0%, -35%) rotate(-140deg);
          transform: translate(0%, -35%) rotate(-140deg);
}

.thanks__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}

.thanks__block {
  padding: 60px;
}

.lose-money {
  padding: 60px 0;
}

.lose-money__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Epilogue";
  font-weight: 700;
  font-size: 44px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.98px;
  color: #FE4D5D;
}

.lose-money__title span {
  padding: 25px 0;
}

.lose-money__title_black {
  font-family: "Inter";
  font-weight: 400;
  font-size: 44px;
  line-height: 176%;
  text-align: center;
  letter-spacing: -0.98px;
  color: #000000;
}

.lose-money__title_small {
  font-family: "Inter";
  font-weight: 700;
  font-size: 27px;
  line-height: 168%;
  text-align: center;
  letter-spacing: -0.98px;
  color: #000000;
}

.lose-money__title_medium {
  font-family: "Inter";
  font-weight: 700;
  font-size: 38px;
  line-height: 119%;
  text-align: center;
  letter-spacing: -0.98px;
  color: #FE4D5D;
}

.advantages-aggregator {
  padding: 60px 0;
  position: relative;
}

.advantages-aggregator::before {
  content: "";
  position: absolute;
  background: #008D62;
  mix-blend-mode: normal;
  -webkit-filter: blur(87px);
          filter: blur(87px);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.advantages-aggregator__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  position: relative;
  z-index: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 30px;
}

.advantages-aggregator__item {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  max-width: 260px;
}

.item-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.item-advantages__image {
  max-width: 135px;
  max-height: 135px;
}

.item-advantages__img {
  width: 100%;
}

.item-advantages__text {
  font-family: "Inter";
  font-weight: 700;
  font-size: 27px;
  line-height: 147%;
  text-align: center;
  letter-spacing: -0.98px;
  color: #FFFFFF;
}

.item-advantages__text::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: 5px 20px 5px 0;
}

.partners-aggregation {
  padding: 60px 0;
}

.partners-aggregation__title {
  font-family: "Epilogue";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.98px;
  color: #000000;
}

.partners-aggregation__title:not(:last-child) {
  margin-bottom: 60px;
}

.partners-aggregation__title_medium {
  font-family: "Inter";
  font-weight: 500;
  font-size: 25px;
  line-height: 170%;
  text-align: center;
  letter-spacing: -0.98px;
  text-transform: uppercase;
  color: #000000;
}

.partners-aggregation__title_big {
  font-family: "Inter";
  font-weight: 700;
  font-size: 46px;
  line-height: 129%;
  text-align: center;
  letter-spacing: -0.98px;
  text-transform: uppercase;
  color: #26A17B;
}

.partners-aggregation__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.partners-aggregation__items:not(:last-child) {
  margin-bottom: 70px;
}

.partners-aggregation__item {
  text-align: center;
}

.partners-aggregation__img {
  width: 100%;
}

.partners-aggregation__img:not(:last-child) {
  margin-bottom: 10px;
}

.partners-aggregation__earning {
  font-family: "Epilogue";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.98px;
  color: #FE4D5D;
}

@media (max-width: 61.99875em) {
  .lose-money__wrapper {
    max-width: 80%;
    margin: 0 auto;
  }

  .advantages-aggregator__wrapper {
    max-width: 80%;
    margin: 0 auto;
  }

  .advantages-aggregator__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .partners-aggregation__wrapper {
    max-width: 80%;
    margin: 0 auto;
  }

  .check-email__container {
    gap: 20px;
  }

  .thanks__container {
    gap: 20px;
  }

  .lose-money__wrapper {
    max-width: 80%;
    margin: 0 auto;
  }

  .advantages-aggregator__wrapper {
    max-width: 80%;
    margin: 0 auto;
  }

  .advantages-aggregator__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .partners-aggregation__wrapper {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 47.99875em) {
  .options__price {
    font-size: 42px;
  }

  .options__item_prices .options__label {
    padding: 15px;
  }

  .block-modal {
    padding: 30px 15px 40px;
  }

  .block-modal__title {
    font-size: 1.75rem;
  }

  .lose-money__title {
    font-size: 35px;
  }

  .lose-money__title span {
    padding: 10px 0;
  }

  .lose-money__title_black {
    font-size: 35px;
  }

  .lose-money__title_small {
    font-size: 21px;
  }

  .lose-money__title_medium {
    font-size: 30px;
  }

  .partners-aggregation__title:not(:last-child) {
    margin-bottom: 40px;
  }

  .partners-aggregation__title_medium {
    font-size: 20px;
  }

  .partners-aggregation__title_big {
    font-size: 36px;
  }

  .partners-aggregation__items:not(:last-child) {
    margin-bottom: 40px;
  }

  .partners-aggregation__item {
    max-width: 232px;
  }

  .subscription-confirmation {
    padding: 0;
  }

  .subscription-confirmation__block {
    padding: 30px 15px 40px;
  }

  .forgot-password {
    padding: 30px 0;
  }

  .forgot-password__block {
    padding: 30px 15px 40px;
  }

  .check-email {
    padding: 30px 0;
  }

  .check-email__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .check-email__wrapper {
    display: none;
  }

  .check-email__block {
    padding: 30px 15px 40px;
  }

  .restore-password {
    padding: 30px 0;
  }

  .restore-password__block {
    padding: 30px 15px 40px;
  }

  .thanks {
    padding: 30px 0;
  }

  .thanks__block {
    padding: 60px 25px;
  }

  .lose-money__title {
    font-size: 35px;
  }

  .lose-money__title span {
    padding: 10px 0;
  }

  .lose-money__title_black {
    font-size: 35px;
  }

  .lose-money__title_small {
    font-size: 21px;
  }

  .lose-money__title_medium {
    font-size: 30px;
  }

  .partners-aggregation__title:not(:last-child) {
    margin-bottom: 40px;
  }

  .partners-aggregation__title_medium {
    font-size: 20px;
  }

  .partners-aggregation__title_big {
    font-size: 36px;
  }

  .partners-aggregation__items:not(:last-child) {
    margin-bottom: 40px;
  }

  .partners-aggregation__item {
    max-width: 232px;
  }
}

@media (max-width: 29.99875em) {
  .subscription-confirmation__container {
    padding: 0;
  }
}


[data-timer] {
    position: relative;
}

[data-timer]::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.79);
}

.plan-section__launching-soon {
    padding-top: 70px;
    padding-bottom: 100px;
}

.launching-soon {
    position: relative;
    z-index: 2;
}

.launching-soon__header:not(:last-child) {
    margin-bottom: 100px;
}

.launching-soon__title {
    font-family: 'Epilogue';
    font-weight: 900;
    font-size: 68px;
    line-height: 129.2%;
    text-align: center;
    letter-spacing: -0.98px;
    color: #26a17b;
}

.launching-soon__title:not(:last-child) {
    margin-bottom: 70px;
}

.launching-soon__timer {
    display: flex;
    justify-content: center;
}

.launching-soon__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 50px;
    align-items: flex-start;
}

.timer-subscribtion__items {
    flex: 1 1 auto;
    max-width: 970px;
    display: flex;
    justify-content: space-around;
    column-gap: 20px;
}

.timer-subscribtion__item {
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: #000;
    gap: 15px;
}

.timer-subscribtion__item span {
    font-family: 'Epilogue';
    font-weight: 700;
    font-size: 80px;
    line-height: 1;
    text-align: center;
    color: #252957;
}

.moving-block {
    flex: 0 1 40%;
    position: relative;
}

.moving-block::before {
    content: '';
    background: url('img/timer/1.svg') 0 / 100% no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 224%;
    height: 222%;
    transform: translate(-62%, -55%);
    z-index: -1;
}

.moving-block__text {
    position: relative;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 49px;
    line-height: 1.5;
    letter-spacing: -0.98px;
    color: #000;
    max-width: 350px;
}

.moving-block__link {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 49px;
    line-height: 129.2%;
    letter-spacing: -0.98px;
    text-decoration: underline;
    color: #000;
}

.reserve-block {
    flex: 0 1 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.reserve-block::before {
    content: '';
    background: url('img/timer/2.svg') 0 / 92% no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 164%;
    height: 256%;
    transform: translate(-40%, -62%);
    z-index: -1;
}

.reserve-block__title {
    font-family: 'Epilogue';
    font-weight: 700;
    font-size: 59px;
    line-height: 129.2%;
    text-align: right;
    letter-spacing: -0.98px;
    text-transform: uppercase;
    color: #fe4d5d;
}

.reserve-block__title:not(:last-child) {
    margin-bottom: 50px;
}

.reserve-block__form:not(:last-child) {
    margin-bottom: 50px;
}

.reserve-block__text {
    position: relative;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 49px;
    line-height: 129.2%;
    text-align: right;
    letter-spacing: -0.98px;
    color: #000;
    max-width: 530px;
}

.reserve-block__text::before {
    content: '*';
    position: absolute;
    left: -10px;
    top: -20px;
    font-family: 'Epilogue';
    font-weight: 900;
    font-size: 100px;
    line-height: 127.2%;
    letter-spacing: -0.98px;
    color: #fe4d5d;
}

.reserve-block__num {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 70px;
    line-height: 129.2%;
    text-align: right;
    letter-spacing: -0.98px;
    color: #fe4d5d;
}

.reserve-block__form {
    display: flex;
    flex-direction: column;
    gap: 21px;
    max-width: 530px;
    width: 100%;
}

.form__button {
    background-color: #fd4d5d;
    box-shadow: 0px 4px 9px #fd4d5d;
    border-radius: 4px;
    font-family: 'Epilogue';
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 30px;
    min-width: 217px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    transition: all 0.3s ease 0s;
}

.form__input {
    background: #f2f2f2;
    box-shadow: inset 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 100%;
    flex: 1 1 auto;
    padding: 25px 30px;
}

.form__input::placeholder {
    font-family: 'Epilogue';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #b4b4b4;
}

@media (max-width: 1429px) {

    .launching-soon__container {
        max-width: 80%;
    }

    .launching-soon__title {
        font-size: 60px;
    }

    .launching-soon__title:not(:last-child) {
        margin-bottom: 60px;
    }

    .timer-subscribtion__item {
        font-size: 19px;
    }

    .timer-subscribtion__item span {
        font-size: 60px;
    }

    .moving-block::before {
        transform: translate(-56%, -50%);
    }

    .moving-block__text {
        font-size: 40px;
        max-width: 300px;
    }

    .moving-block__link {
        font-size: 40px;
    }

    .reserve-block::before {
        transform: translate(-40%, -55%);
    }

    .reserve-block__title {
        font-size: 50px;
    }

    .reserve-block__title:not(:last-child) {
        margin-bottom: 41px;
    }

    .reserve-block__text {
        font-size: 40px;
        max-width: 450px;
    }

    .reserve-block__text::before {
        font-size: 90px;
        top: -15px;
    }

    .reserve-block__num {
        font-size: 60px;
    }

    .reserve-block__form {
        max-width: 450px;
    }

    .reserve-block__form:not(:last-child) {
        margin-bottom: 41px;
    }
}

@media (max-width: 991.98px) {

    .launching-soon__header:not(:last-child) {
        margin-bottom: 60px;
    }

    .launching-soon__title {
        font-size: 40px;
    }

    .launching-soon__title:not(:last-child) {
        margin-bottom: 40px;
    }

    .launching-soon__wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }

    .timer-subscribtion__items {
        column-gap: 10px;
    }

    .timer-subscribtion__item {
        font-size: 15px;
        gap: 10px;
    }

    .timer-subscribtion__item span {
        font-size: 45px;
    }

    .moving-block::before {
        display: none;
    }

    .moving-block__text {
        max-width: none;
        text-align: center;
        font-size: 28px;
    }

    .moving-block__link {
        font-size: 28px;
    }

    .reserve-block {
        align-items: center;
        flex: 1 1 auto;
        width: 100%;
    }

    .reserve-block::before {
        width: 130%;
        height: 255%;
        transform: translate(-40%, -55%);
    }

    .reserve-block__title {
        text-align: center;
        font-size: 36px;
    }

    .reserve-block__title:not(:last-child) {
        margin-bottom: 35px;
    }

    .reserve-block__text {
        font-size: 32px;
        max-width: 450px;
        text-align: center;
        max-width: none;
    }

    .reserve-block__text::before {
        font-size: 80px;
        left: -30px;
        top: -15px;
    }

    .reserve-block__num {
        font-size: 50px;
    }

    .reserve-block__form {
        max-width: 100%;
    }

    .form__button {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .reserve-block::before {
        width: 160%;
        height: 300%;
        transform: translate(-40%, -50%);
    }
}

@media (any-hover: hover) {
    .form__button:hover {
        background-color: #ff2739;
    }
}
